*{
    margin: 0%;
    padding: 0%;
    border: #23242A;
    box-sizing: border-box;
}

#header{
    /* border: 2px solid black; */
    width: 100%;
    height: 500px;
    background-color:#23242A;
    display:flex; 
    justify-content: space-between;
    overflow: hidden;
}

.image img{
display: block;
background-color: #23242A;
padding-bottom: 30px;
background-size: cover;
}

.image img{
    border: none;
    object-fit: cover;
}

.head{  
    margin: 10px;
    /* padding: 10px; */
    margin-right: 20px;
}

ul{
    display: flex;
    gap: 20px;
    color: white;
    margin-left: 750px;
}

button{
    color: white;
    background-color:#23242A;
    border:  1px solid white;
     border-radius: 5px;
     gap: 2px;
}

.btn{
    text-align: center;
    padding: 5px;
    font-size: 15px;
    
}

button:hover{
    background-color: orange;
}

.para{
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 400px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

h1{
    font-size:55px;

}

.main{
width: 90%;
display: flex;
justify-content: space-evenly;
position: absolute;
top:482px;
left: 85px;

}

.container{
    position: relative;
    border:1px solid black;
    width:250px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.paragraph{
    margin-top: 10px;
}

.pa{
    margin-top: 40px;
    margin-left: 10px;
    color: lightgray;
}

.pa:hover{
    color: blue;
}

.name{
    font-size: 35px;
    margin-top: 10px;
}